@{
    ViewData["Title"] = "Eliminar turno";
}

<div class="body-wrapper">
    <input name="pagina" id="pagina" value="0" hidden>
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">
            <div class="mdc-layout-grid">
                <a class="material-icons  mdc-icon-button sidebar-toggler" asp-action="Index" asp-controller="Home">
                    keyboard_backspace
                </a>

                <h4 style="text-anchor: middle; text-align: center;">Eliminar Turno</h4>

                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell--span-12">
                                <div class="mdc-card">
                                    <form asp-controller="Turnos" asp-action="Index">
                                        <div class="template-demo">
                                            <div class="mdc-layout-grid__inner">



                                                <div
                                                    class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12-desktop">
                                                    <div>
                                                        <label style="font-size: medium;">Ingrese su cedula:</label>
                                                    </div>
                                                    <div
                                                        class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">

                                                        <input class="mdc-text-field__input" id="SearchString"
                                                            type="text" name="SearchString" required/>
                                                        <div class="mdc-notched-outline">
                                                            <div class="mdc-notched-outline__leading"></div>


                                                            <div class="mdc-notched-outline__trailing"></div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        @ViewData["error"]
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="mdc-card">
                                                <div class="template-demo">

                                                    <input type="submit" value="Aceptar" id="aceptar"
                                                        class="btn btn-primary" />
                                                    <input name="eliminar" id="eliminar" value="1" hidden>


                                                </div>


                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
        </main>

    </div>
</div>
</div>
